doctype html
html
    head
        title Verdigris Interview
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

        link(rel="stylesheet" href="./slider.css")
        link(rel="stylesheet" href="./datagrid.css")
    body
      block content
